In [1]:
import pandas as pd

In [2]:
df_historical_data = pd.read_csv('C:\\Users\\sebas\\OneDrive\\Documents\\Data Scientist Proyects\\FWC 2022 Prediction\\fifa_worldcup_historial_data')
df_fixture= pd.read_csv('C:\\Users\\sebas\\OneDrive\\Documents\\Data Scientist Proyects\\FWC 2022 Prediction\\fifa_worldcup_fixture_data')
df_missing_data = pd.read_csv('C:\\Users\\sebas\\OneDrive\\Documents\\Data Scientist Proyects\\FWC 2022 Prediction\\test_fifa.csv')

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [4]:

# df_missing_data[df_missing_data['home'].isnull()]
df_missing_data.dropna(inplace=True)
df_historical_data = pd.concat([df_historical_data, df_missing_data], ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)
df_historical_data

            home score           away  year
0        France    4–1         Mexico  1930
866   Argentina    1–0         France  1930
867       Chile    3–0         Mexico  1930
868       Chile    1–0         France  1930
869   Argentina    6–3         Mexico  1930
...          ...   ...            ...   ...
827      Brazil    2–0     Costa Rica  2018
828      Serbia    1–2    Switzerland  2018
829      Serbia    0–2         Brazil  2018
831     Germany    0–1         Mexico  2018
1601     France    4–2        Croatia  2018

[1602 rows x 4 columns]

In [5]:
# deleting match with walk over
delete_index = df_historical_data[df_historical_data['home'].str.contains('Sweden') &
                                  df_historical_data['away'].str.contains('Austria')].index

df_historical_data.drop(index=delete_index, inplace=True)

In [6]:
# cleanning score and home/away columns
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)
df_historical_data['home'] = df_historical_data['home'].str.strip() # clean blank spaces: Yugoslavia twice
df_historical_data['away'] = df_historical_data['away'].str.strip()

In [7]:
df_historical_data['score']

0       4–1
866     1–0
867     3–0
868     1–0
869     6–3
       ...
827     2–0
828     1–2
829     0–2
831     0–1
1601    4–2
Name: score, Length: 1600, dtype: object

In [8]:
# splitting score columns into home and away goals and dropping score column
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)
df_historical_data.drop('score', axis=1, inplace=True)

# renaming columns and changing data types
df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 
                                   'year':'Year'}, inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals':int, 'Year': int})

# creating new column "totalgoals"
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']
df_historical_data

       HomeTeam     AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0        France       Mexico  1930          4          1           5
866   Argentina       France  1930          1          0           1
867       Chile       Mexico  1930          3          0           3
868       Chile       France  1930          1          0           1
869   Argentina       Mexico  1930          6          3           9
...         ...          ...   ...        ...        ...         ...
827      Brazil   Costa Rica  2018          2          0           2
828      Serbia  Switzerland  2018          1          2           3
829      Serbia       Brazil  2018          0          2           2
831     Germany       Mexico  2018          0          1           1
1601     France      Croatia  2018          4          2           6

[1600 rows x 6 columns]

In [9]:
df_historical_data=df_historical_data.drop_duplicates()

In [10]:
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 16
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

In [11]:
df_historical_data.to_csv('clean_fifa_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)