In [1]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [2]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
# A -> H
# 12 ->  7*8 + 12 = 68

all_tables[12]
all_tables[19]

for i in range(12,68,7):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    print(i)

12
19
26
33
40
47
54
61

In [4]:
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [5]:
#Cambiar el nombre de cada tabla

all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
dict_table = {}
for letter, i in zip(alphabet, range(12,68,7)): # A=12, B=19, ...
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [6]:

dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [7]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [8]:
# Upload (..verify if uploaded correctly)
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)